@tailwind base;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body {
  min-height: 100%;
}

:root {
  --scrollthumb: #86efac;
  --scrolltrack: #ecfdf5;
  --scrollthumbalt: #6366f1;
  --scrolltrackalt: #c7d2fe;
}

/* Scrollbar - Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollthumb) var(--scrolltrack);
}

.custom-scroll {
  scrollbar-color: var(--scrollthumbalt) var(--scrolltrackalt);
}

/* Scrollbar - Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--scrolltrack);
}

.custom-scroll::-webkit-scrollbar-track {
  background: var(--scrolltrackalt);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollthumb);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollthumbalt);
  border-radius: 10px;
}

@tailwind components;
@tailwind utilities;

